<p>
<b>4</b> - Faça uma aplicação que verifique se um valor é perfeito ou não. Um valor
é dito perfeito quando ele é igual a soma dos seus divisores, exceto ele próprio.
(Ex: 6 é perfeito, 6 = 1 + 2 + 3, que são seus divisores).<br>

<b>5</b> - Faça um programa que receba um número e usando laços de repetição
calcule e mostre a tabuada desse número.<br>

<form [formGroup]="form" (ngSubmit)="calculate()" style="margin-top: 20px;">
    <label for="num">Valor base para os Calculos:
        <input formControlName="num" name="num" id="num" required/>
    </label><br>
    <button class="btn btn-success" type="submit">Calcular Valores</button>
</form>

<div [hidden]="!show" class="respostas" style="margin-top: 20px;">
    <div class="row">
        <div class="col-lg-6">
            <p style="text-align: center; font-size: 1.2rem;" class="text-success">O número {{ baseNum }} {{ numIsPerfect }} perfeito</p>
        </div>
        <div class="col-lg-6">
            <div class="text-success" style="text-align: center; font-size: 1.2rem;" id="tabuada">

            </div>
        </div>
    </div>
</div>